@media (max-width: 800px) {
    .home-button{
        font-family: serif;
    font-size: 17px;
    width:120px;
    height: 60px;
    color: white;
    text-align: center; 
    }
}
@media (min-width: 800px) {
   
.home-button{
    font-family: serif;
    font-size: 18px;

    color: white;
    text-align: center;
    width:150px;
  height: 60px;

}
}